.header {
  height: 75px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  backdrop-filter: blur(25px);
  border-bottom: 1px solid black;
}

.headerContainer {
  display: flex;
  width: 100%;
  padding: 0px 43px;
  justify-content: space-between;
  align-items: center;
}

.headerLink {
  color: whitesmoke;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-size: 48px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.navigation {
  display: flex;
  gap: 48px;
}

.navigationItem {
  display: flex;
  align-items: center;
}

.navigationLink {
  display: flex;
  padding: 8px 24px 8px 24px;
  justify-content: center;
  align-items: center;
  gap: 22px;
  border-radius: 8px;
  border: 1px solid #fff;
  background-color: transparent;
  color: #fff;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  cursor: pointer;
  transition: background-color 250ms ease-in-out;
}

.navigationLink:hover {
  background-color: #023020;
}
